{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starlabs | {{ judul }}</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'pendaftaran/fonts/material-icon/css/material-design-iconic-font.min.css' %}" />

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'cek_data/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'pendaftaran/css/style.css' %}" />

</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="{% static 'pendaftaran/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'pendaftaran/js/main.js' %}"></script>

</body>
</html>